<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_block %} insert title {% endblock %}
    </title>
</head>

<body>
    <div>
    {% block body_block %}
        <p>insert body block</p>
    {% endblock %}
    </div>

    <div>
    <hr/>
    {% block menu_block %}
        <a href="/">exit to home page</a>
        <a href="/usercontacts/">main page</a>
        <a href="/usercontacts/add_person">add person</a>
    {% endblock %}
    </div>
</body>
</html>